---
// SoftwareArcSlider.astro
import SoftwareChip from './SoftwareChip.astro';
import type { SoftwareTool } from '../../objects/SoftwareTool';


export interface Props {
    tools?: SoftwareTool[];
    iconSize?: string;
    widthRes?: number;
    heightRes?: number;
    radius?: string;
    totalItems?: number;
    startAngle?: number;
    maxRotation?: number;
    borderMargin?: number;
    instanceId?: string;

}

const { tools = [], iconSize = "30px",
        widthRes = 70, heightRes = 20, radius = "50vw", startAngle = 120, 
        maxRotation = 45 ,totalItems = 30, borderMargin = 2.3, instanceId = "default"} = Astro.props;



const step = 360 / totalItems;

---
<div class="slider-container" data-instance={instanceId}
        style={`--widthRes: ${widthRes}vw; --heightRes: ${heightRes}vh; --radius: ${radius}; 
                --step: ${step}deg; --start-angle: ${startAngle * -1}deg;
                --borderMargin: ${borderMargin}; --iconSize: ${iconSize};`}
    data-max-angle={maxRotation * -1}>
    <div class="slider-viewport" >
        <div class="slider-wrapper">
            <div class="slider-circle">
                {tools.map((tool, i) => (
                    <div class="handle" style={`--i:${i};`}>
                        <SoftwareChip tool={tool} />
                    </div>
                ))}
            </div>
        </div>
    </div>
</div>


<style>

    .slider-container {
        width: var(--widthRes);
        background-color: transparent;
    }

    .slider-viewport {
        position: relative;
        overflow: hidden; /* Later hidden */
        width: 100%;
        height: var(--heightRes);
        
        border: 10px solid red;

        /* Center objects */
        display: flex;
        justify-content: center;

    }

    .slider-wrapper {
        width: var(--radius);
        height: var(--radius);

        transform-origin: center center;

        /*background-color: rgba(0, 0, 255, 0.528);*/
    }

    .slider-circle {
        /* Circle Definition */
        position: relative;
        width: 100%;
        height: 100%;
        

        /* Circle position */
        transform: rotate(var(--start-angle));
        

        /* Remove the solid background color
        background-color: rgba(128, 128, 128, 0.598);
        border-radius: 50%;*/
    }

    .handle {
        cursor: grab;
        user-select: none;
        touch-action: none;

        /* Position Definition */
        position: absolute;
        top: 50%;
        left: 50%;

        
        transform:
            translate(-50%, -50%)
            rotate(calc(var(--i) * var(--step)))
            translate(calc(var(--radius)/var(--borderMargin))) rotate(90deg);

        transform-origin: center;

        /* Size of handle */
        width: var(--iconSize);
        height: auto;

    }

    .handle:active {
        cursor: grabbing;
    }

</style>


<script> 

    document.querySelectorAll<HTMLElement>(".slider-container").forEach((container) => {
        const wrapper = container.querySelector<HTMLElement>(".slider-wrapper");
        const viewport = container.querySelector<HTMLElement>(".slider-viewport");
        const handles = container.querySelectorAll<HTMLElement>(".handle");
        

        /* Rotation definition */
        let enableRotation = false;
        let baseRotation = 0;
        let isDragging = false;
        let lastAngle = 0;

        /* Rotation limits */
        let minAngle = 0;
        //let maxAngle = -90;
        const maxAngle = Number(container.dataset.maxAngle);
            

        if (handles && wrapper) {

            handles.forEach((handle) => {
                attatchEvents(handle, wrapper);

                if (!enableRotation) enableRotation = detectOverflow(handle);

            });
        }
    

        /* --------------- Overflow Functions --------------- */

        function detectOverflow(handle: HTMLElement) {
            const vrect = viewport!.getBoundingClientRect();
            const rect = handle.getBoundingClientRect();

            const out = rect.right < vrect.left || rect.left > vrect.right ||
                        rect.bottom < vrect.top || rect.top > vrect.bottom;

            return out;
        }



        /* --------------- Rotation Functions --------------- */

        function getAngle(e: PointerEvent, centerX: number, centerY: number) {
            return Math.atan2(e.clientY - centerY, e.clientX - centerX);
        }

        function getCenter(el: HTMLElement) {
            const rect = el.getBoundingClientRect();
            return {
                x: rect.left + rect.width / 2,
                y: rect.top + rect.height / 2
            };
        }

        function attatchEvents(handle: HTMLElement, wrapper: HTMLElement){

            handle.addEventListener("pointerdown", (e) => {
                isDragging = true;
                handle.setPointerCapture(e.pointerId);
                const center = getCenter(wrapper);

                lastAngle = getAngle(e, center.x, center.y);
            });

            handle.addEventListener("pointermove", (e) => {
                if (!isDragging || !enableRotation) return;

                const center = getCenter(wrapper);
                const currentAngle = getAngle(e, center.x, center.y);
                let delta = currentAngle - lastAngle;
                if (delta > Math.PI) delta -= 2 * Math.PI;
                if (delta < -Math.PI) delta += 2 * Math.PI;

                lastAngle = currentAngle;

                let rotationDeg = baseRotation + delta * (180 / Math.PI);

                // clamp result only
                if (rotationDeg > minAngle) rotationDeg = minAngle;
                if (rotationDeg < maxAngle) rotationDeg = maxAngle;
                
                baseRotation = rotationDeg;

                wrapper.style.transform = `rotate(${rotationDeg}deg)`;
            });

            handle.addEventListener("pointerup", () => {
                isDragging = false;
            });

            handle.addEventListener("pointercancel", () => {
                isDragging = false;
            });
        }

    });

</script>