---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE, DEMOREEL } from '../consts';
import MainBackCards from '../assets/elements/Main_BackCards.png';
import MainFrontCard from '../assets/elements/Main_FrontCard.png';
import PlayButton from '../assets/icons/AS_PlayButton.svg';
import ScrollDownArrow from '../assets/icons/AS_DownArrow.svg';
import "../styles/animations.css";
import Vignette from '../components/props/Vignette.astro';
import VideoModal from '../components/props/VideoModal.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="home-container">
			<main>
				<section class="home-hero">
					<a class="home-backcards">
						<img src={MainBackCards.src} alt="" />
					</a>
					<a class="home-maincard" id="mainCard">
						<img class="home-maincard-bg" src={MainFrontCard.src} alt="" />

						<span class="home-showreelPlay">
							<img src={PlayButton.src} alt="" />
						</span>

					</a>
					<VideoModal trigger="#mainCard" platform="vimeo" idVideo={DEMOREEL}/>
					<div class="scroll-arrow">
						<img src={ScrollDownArrow.src} alt="" />
					</div>
				</section>
				<section class="home-transition">

				</section>
				<section class="home-portfolio">


				</section>
				<section class="home-credits">


				</section>
				<section class="home-ending">


				</section>
			</main>
		</div>
		<Footer class="home-social"/>
		<Vignette />
	</body>
</html>


<style> 

	/* -------------------------------------------------------------- */ 
	/* ---------------------- MAIN SECTIONS ------------------------- */ 
	/* -------------------------------------------------------------- */ 
	
	.home-container {
		background-image: url('../assets/BG/BG_MainHome_High.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}

	.home-hero {
		position: relative;
  		min-height: 100vh;
	}

	.home-transition {
		min-height: 44vh;
		width: 100%;
	}

	.home-portfolio {
		min-height: 100vh;
		width: 100%;
	}

	.home-credits {
		min-height: 100vh;
		width: 100%;
	}

	.home-ending {
		min-height: 44vh;
		width: 100%;
	}

	section {
		display: block; 
	}


	body {
		margin: 0;
		padding: 0;
	}

	main {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}


	/* -------------------------------------------------------------- */ 
	/* ------------------------ HERO CONFIG ------------------------- */ 
	/* -------------------------------------------------------------- */ 


	.home-backcards img,
	.home-maincard img {
		width: auto;
		height: 100vh;
		max-width: none;
		display: block;
	}

	.scroll-arrow img {
		width: auto;
		height: 3.2vh;
	}

	.home-showreelPlay img {
		width: auto;
		height: 18vh;
		
	}

	.home-backcards, .home-maincard{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) 
					scale(clamp(0.1, 
						min(calc(100vh / 771px), calc(100vw / 300px)), 
						0.75));
		transform-origin: center;
	}

	.home-showreelPlay {
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
		transform-origin: center;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.7s cubic-bezier(0.22, 1, 0.36, 1);
		
	}

	.home-maincard:hover .home-maincard-bg {
		filter: blur(3px) brightness(70%);
	}


	.home-maincard:hover .home-showreelPlay {
		opacity: 1;
		filter: blur(0.7px);
		pointer-events: auto;
	}

	/* ---------------------- Scroll Arrow ----------------------- */ 

	.scroll-arrow {
		/* Transform */ 
		position: absolute;
		bottom: 7%;
		left: 50%;
		z-index: 5;
		
		/* Animation */ 
		--bounce-height: 10px;
		animation: bounce 2s infinite;

		/* Filter */ 
		filter: drop-shadow(0 0 10px #ff7ec7);
		
	}


	/* -------------------------------------------------------------- */ 
	/* ------------------- PHONE MODIFICATIONS ---------------------- */ 
	/* -------------------------------------------------------------- */ 
	

	@media (max-width: 768px) {
		.home-backcards, .home-maincard {
			top: 46%;
			transform: translate(-50%, -50%) 
						scale(clamp(0.1, 
						min(calc(100vh / 771px), calc(100vw / 300px)), 
						0.55));
		}

		.home-maincard:hover .home-showreelPlay {
			opacity: 0;
			
		}

		.home-maincard-bg {
			animation: revealBlur 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
			animation-delay: 4s;
		}

		.home-showreelPlay {
			animation: revealOpacity 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
			animation-delay: 4s;
			top: 45%;
		}

		.scroll-arrow {
			bottom: 18%;
			left: 47%;
		}

		.home-social {
			display: none;
		}


	}

</style>
