---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE, DEMOREEL } from '../consts';
import "../styles/animations.css";

import MainBackCards from '../assets/elements/Main_BackCards.png';
import MainFrontCard from '../assets/elements/Main_FrontCard.png';
import PlayButton from '../assets/icons/AS_PlayButton.svg';


import VideoModal from '../components/widgets/VideoModal.astro';
import ArrowButton from '../components/widgets/ArrowButton.astro';
import Vignette from '../components/widgets/Vignette.astro';
import HorizontalCarousel from '../components/widgets/HorizontalCarousel.astro';

import SoftwareChip from '../components/props/SoftwareChip.astro';
import ToolCard from '../components/props/ToolCard.astro';

import { getActiveTools } from '../data/ToolLibrary';
const activeTools = getActiveTools();



const allFiles = import.meta.glob('../content/tools/**/*.mdx', { eager: true });

const toolEntries = Object.entries(allFiles).map(([path, file]: [string, any]) => ({
  path,
  software: path.split('/tools/')[1].split('/')[0], // extracts "Houdini" from path
  frontmatter: file.frontmatter,
}));


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="home-container">
			<main>
				<section class="home-hero">
					<a class="home-backcards">
						<img src={MainBackCards.src} alt="" />
					</a>
					<a class="home-maincard" id="mainCard">
						<img class="home-maincard-bg" src={MainFrontCard.src} alt="" />
						<span class="home-showreelPlay">
							<img src={PlayButton.src} alt="" />
						</span>
					</a>
					<VideoModal trigger="#mainCard" platform="vimeo" idVideo={DEMOREEL}/>
					<div class="scroll-arrow"> 
						<ArrowButton variant='glow'/>
					</div>
				</section>
				<section class="home-portfolio">
					<!-- {activeTools.map((tool, i) => <ToolCard tool={tool} index={i} />)} -->
					 <HorizontalCarousel class="tool-card-placeholder" itemSize='35vh' gap={0} navigation='buttons'>
						<ToolCard index={0}/>
						<ToolCard index={1}/>
					</HorizontalCarousel>
					<HorizontalCarousel class="tool-card-selected" itemSize='35vh' gap={0} navigation="buttons">
						{toolEntries.map(({ path, software, frontmatter }, i) => (
							<ToolCard filePath={path} software={software} frontmatter={frontmatter} index={i}/>
						))}
					</HorizontalCarousel>

					<HorizontalCarousel class="home-softwareChips" gap={0.5}>
						{activeTools.map(tool => <SoftwareChip tool={tool} />)}
					</HorizontalCarousel>
=


				</section>
				<section class="home-credits">


				</section>
				<section class="home-ending">


				</section>
			</main>
		</div>
		<Footer class="home-social"/>
		<Vignette />
	</body>
</html>


<style> 


	/* -------------------------------------------------------------- */ 
	/* ---------------------- MAIN SECTIONS ------------------------- */ 
	/* -------------------------------------------------------------- */ 
	.home-container::before {
		content: "";
		position: absolute;
		inset: 0;

		background-image: url('../assets/BG/BG_MainHome_High.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;

		filter: blur(0.7px);
		transform: scale(1.005);

		z-index: -1;
	}

	.home-container {
		position: relative;
		overflow: hidden;
	}

	.home-hero {
		position: relative;
  		min-height: 100vh;
	}

	.home-portfolio {
		position: relative;
		min-height: 100vh;
		width: 100%;
		/*background-color: rgba(72, 255, 0, 0.13);*/

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.home-credits {
		min-height: 100vh;
		width: 100%;
	}

	.home-ending {
		min-height: 39vh;
		width: 100%;
	}

	section {
		display: block;
		scroll-snap-align: start;
	}


	body {
		margin: 0;
		padding: 0;
	}

	main {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}


	/* -------------------------------------------------------------- */ 
	/* ------------------------ HERO CONFIG ------------------------- */ 
	/* -------------------------------------------------------------- */ 

	.home-maincard img{
		width: auto;
		height: auto;
		max-width: 70vw;
		max-height: 65vh;
		display: block;
		filter: blur(0.1px);
	}

	.home-backcards img {
		width: auto;
		height: auto;
		max-width: 80vw;
		max-height: 70vh;
		display: block;
		filter: blur(0.5px);
	}

	.home-showreelPlay img {
		width: auto;
		height: 14vh;
	}

	.home-backcards, .home-maincard {
		position: absolute;
		top: 47%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.home-showreelPlay {
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
		transform-origin: center;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.7s cubic-bezier(0.22, 1, 0.36, 1);
		
	}

	.home-maincard:hover .home-maincard-bg {
		filter: blur(2px) brightness(70%);
		cursor: pointer;
	}


	.home-maincard:hover .home-showreelPlay {
		opacity: 1;
		filter: blur(1px);
		pointer-events: auto;
		cursor: pointer;
	}

	/* ---------------------- Scroll Arrow ----------------------- */ 
	.scroll-arrow {
		/* Transform */ 
		position: absolute;
		bottom: 7%;
		left: 49%;
		transform: translate(-50%, -50%);
		transform-origin: center;
		z-index: 5;
		
		/* Animation */ 
		--bounce-height: 10px;
		animation: bounce 2s infinite;	
		
		
		-webkit-tap-highlight-color: transparent;
        -webkit-user-drag: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
	}




	/* -------------------------------------------------------------- */ 
	/* ---------------------- PORTFOLIO CONFIG ---------------------- */ 
	/* -------------------------------------------------------------- */ 

	.home-portfolio {
		display: flex;
		flex-direction: column;
	}

	.home-portfolio :global(.home-softwareChips) {
        position: absolute;
        bottom: 6%;
    }

	.home-portfolio :global(.tool-card-placeholder),
	.home-portfolio :global(.tool-card-selected) {
        position: absolute;
        top: 15%;
    }



	/* -------------------------------------------------------------- */ 
	/* ------------------- PHONE MODIFICATIONS ---------------------- */ 
	/* -------------------------------------------------------------- */ 
	

	@media (orientation: portrait), (max-aspect-ratio: 9/16) {

		.home-backcards, .home-maincard {
			top: 41%;
		}


		.home-maincard:hover .home-showreelPlay {
			opacity: 1;
		}

		.home-maincard-bg {
			animation: revealBlur 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
			animation-delay: 4s;
		}

		.home-showreelPlay {
			animation: revealOpacity 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
			animation-delay: 4s;
			top: 45%;
		}

		.scroll-arrow {
			bottom: 18%;
			left: 47%;
		}

		.home-social { display: none; }

	}

</style>



<script>
	const arrow = document.querySelector(".scroll-arrow");
	const portfolio = document.querySelector(".home-portfolio");

	arrow?.addEventListener("click", () => {
		portfolio?.scrollIntoView({
		behavior: "smooth",
		block: "start",
		});
	});

	

	window.addEventListener("tool:selected", (e) => { 

		const { id } = (e as CustomEvent).detail;

		const placeholder = document.querySelector('.tool-card-placeholder');
  		if (placeholder) (placeholder as HTMLElement).style.display = 'none';

		console.log('TOOL Selected: ', id);

		const allCards = Array.from(document.querySelectorAll<HTMLElement>('.tool-card')).filter(c => c.dataset.software);
		
		// Find the ones matching by software
		const matching = allCards.filter(c => c.dataset.software === id);

		// Hide each that is not matching after the search
		const rest     = allCards.filter(c => c.dataset.software !== id);
		rest.forEach(c => c.dataset.state = 'hidden');

		// show up to 4 matching as active
		matching.forEach((c, i) => {
			c.dataset.state = i < 4 ? 'active' : 'hidden';
		});

	});


</script>