---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE, DEMOREEL } from '../consts';
import "../styles/animations.css";

import MainBackCards from '../assets/elements/Main_BackCards.png';
import MainFrontCard from '../assets/elements/Main_FrontCard.png';
import PlayButton from '../assets/icons/AS_PlayButton.svg';


import Vignette from '../components/props/Vignette.astro';
import VideoModal from '../components/props/VideoModal.astro';
import ArrowButton from '../components/props/ArrowButton.astro';
import SoftwareChip from '../components/props/SoftwareChip.astro';
import HorizontalCarousel from '../components/props/HorizontalCarousel.astro';

import { getActiveTools } from '../data/ToolLibrary';
const activeTools = getActiveTools();


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="home-container">
			<main>
				<section class="home-hero">
					<a class="home-backcards">
						<img src={MainBackCards.src} alt="" />
					</a>
					<a class="home-maincard" id="mainCard">
						<img class="home-maincard-bg" src={MainFrontCard.src} alt="" />
						<span class="home-showreelPlay">
							<img src={PlayButton.src} alt="" />
						</span>
					</a>
					<VideoModal trigger="#mainCard" platform="vimeo" idVideo={DEMOREEL}/>
					<div class="scroll-arrow"> 
						<ArrowButton variant='glow'/>
					</div>
				</section>
				<section class="home-transition"/>
				<section class="home-portfolio">
					
					<HorizontalCarousel>
						{activeTools.map(tool => <SoftwareChip tool={tool} />)}
					</HorizontalCarousel>
				</section>
				<section class="home-credits">


				</section>
				<section class="home-ending">


				</section>
			</main>
		</div>
		<Footer class="home-social"/>
		<Vignette />
	</body>
</html>


<style> 


	/* -------------------------------------------------------------- */ 
	/* ---------------------- MAIN SECTIONS ------------------------- */ 
	/* -------------------------------------------------------------- */ 
	
	.home-container {
		background-image: url('../assets/BG/BG_MainHome_High.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
	}

	.home-hero {
		position: relative;
  		min-height: 100vh;
	}

	.home-transition {
		min-height: 39vh;
		width: 100%;
	}

	.home-portfolio {
		position: relative;
		min-height: 100vh;
		width: 100%;
		/*background-color: rgba(72, 255, 0, 0.13);*/


		display: flex;
		justify-content: center;
		align-items: center;
	}

	.home-credits {
		min-height: 100vh;
		width: 100%;
	}

	.home-ending {
		min-height: 39vh;
		width: 100%;
	}

	section {
		display: block;
		scroll-snap-align: start;
	}


	body {
		margin: 0;
		padding: 0;
	}

	main {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}


	/* -------------------------------------------------------------- */ 
	/* ------------------------ HERO CONFIG ------------------------- */ 
	/* -------------------------------------------------------------- */ 

	.home-maincard img{
		width: auto;
		height: auto;
		max-width: 70vw;
		max-height: 65vh;
		display: block;
	}

	.home-backcards img {
		width: auto;
		height: auto;
		max-width: 80vw;
		max-height: 70vh;
		display: block;
	}

	.home-showreelPlay img {
		width: auto;
		height: 14vh;
	}

	.home-backcards, .home-maincard {
		position: absolute;
		top: 47%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.home-showreelPlay {
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
		transform-origin: center;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.7s cubic-bezier(0.22, 1, 0.36, 1);
		
	}

	.home-maincard:hover .home-maincard-bg {
		filter: blur(2px) brightness(70%);
		cursor: pointer;
	}


	.home-maincard:hover .home-showreelPlay {
		opacity: 1;
		filter: blur(1px);
		pointer-events: auto;
		cursor: pointer;
	}

	/* ---------------------- Scroll Arrow ----------------------- */ 
	.scroll-arrow {
		/* Transform */ 
		position: absolute;
		bottom: 7%;
		left: 50%;
		z-index: 5;
		
		/* Animation */ 
		--bounce-height: 10px;
		animation: bounce 2s infinite;		
	}




	/* -------------------------------------------------------------- */ 
	/* ---------------------- PORTFOLIO CONFIG ---------------------- */ 
	/* -------------------------------------------------------------- */ 






	/* -------------------------------------------------------------- */ 
	/* ------------------- PHONE MODIFICATIONS ---------------------- */ 
	/* -------------------------------------------------------------- */ 
	

	@media (orientation: portrait), (max-aspect-ratio: 9/16) {

		.home-backcards, .home-maincard {
			top: 41%;
		}


		.home-maincard:hover .home-showreelPlay {
			opacity: 1;
		}

		.home-maincard-bg {
			animation: revealBlur 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
			animation-delay: 4s;
		}

		.home-showreelPlay {
			animation: revealOpacity 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
			animation-delay: 4s;
			top: 45%;
		}

		.scroll-arrow {
			bottom: 18%;
			left: 47%;
		}

		.home-social { display: none; }

	}

</style>



<script>
	const arrow = document.querySelector(".scroll-arrow");
	const portfolio = document.querySelector(".home-portfolio");

	arrow?.addEventListener("click", () => {
		portfolio?.scrollIntoView({
		behavior: "smooth",
		block: "start",
		});
	});

	

	window.addEventListener("tool:selected", (e) => { /* update cards */ });


</script>